# Data Mining Assignment 2

Group 20
Ziyi Shan
Yuyuan Zhao
Fangshu Qu
Yidan Wang

## Imports and inits

In [2]:
import h2o
from h2o.estimators.glm import H2OGeneralizedLinearEstimator
from h2o.estimators.glrm import H2OGeneralizedLowRankEstimator
from h2o.grid.grid_search import H2OGridSearch 
h2o.init(max_mem_size='12G') # give h2o as much memory as possible
h2o.no_progress() # turn off h2o progress bars

import numpy as np
import pandas as pd

import matplotlib as plt
%matplotlib inline

Checking whether there is an H2O instance running at http://localhost:54321. connected.

--------------------------  ----------------------------------------
H2O cluster uptime:         8 days 0 hours 9 mins
H2O cluster timezone:       America/New_York
H2O data parsing timezone:  UTC
H2O cluster version:        3.22.1.3
H2O cluster version age:    1 month and 3 days
H2O cluster name:           H2O_from_python_suzy_yaagn4
H2O cluster total nodes:    1
H2O cluster free memory:    1.853 Gb
H2O cluster total cores:    8
H2O cluster allowed cores:  8
H2O cluster status:         locked, healthy
H2O connection url:         http://localhost:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         XGBoost, Algos, AutoML, Core V3, Core V4
Python version:             3.6.5 final
--------------------------  ----------------------------------------

import the datasets

In [2]:
train = pd.read_csv('train.csv')
test  = pd.read_csv('test.csv')
print(train.shape)
print(test.shape)

(160057, 14)
(151484, 13)

In [3]:
train.head(5)

,id,chain,offer,market,repeater,offerdate,category,quantity,company,offervalue,brand,Average_Purchasequantity,Average_Purchaseamount,FACTOR
0,86246,205,1208251,34,t,2013-04-24,2202,1,104460040,2.00,3718,0.0,0.000,0
1,86252,205,1197502,34,t,2013-03-27,3203,1,106414464,0.75,13474,1.0,2.425,1
2,12682470,18,1197502,11,f,2013-03-28,3203,1,106414464,0.75,13474,1.0,2.500,1
3,12996040,15,1197502,9,f,2013-03-25,3203,1,106414464,0.75,13474,0.0,0.000,0
4,13089312,15,1204821,9,f,2013-04-01,5619,1,107717272,1.50,102504,0.0,0.000,0

In [4]:
test.head(5)

,id,chain,offer,market,offerdate,category,quantity,company,offervalue,brand,Average_Purchaseamount,AVG_purchasequantity,Factor
0,12262064,95,1219903,39,2013-06-27,799,1,1076211171,1.5,17286,0.000000,0.0,0
1,12277270,95,1221658,39,2013-06-23,7205,2,103700030,3.0,4294,3.882000,1.2,1
2,12332190,95,1213242,39,2013-06-15,5824,1,105190050,2.0,26456,6.980000,2.0,1
3,12524696,4,1221665,1,2013-06-20,7205,1,103700030,1.5,4294,4.242500,1.0,1
4,13074629,14,1221658,8,2013-06-21,7205,2,103700030,3.0,4294,5.618571,1.0,1

Recode the target variable, repeater, such that t=1 and f=0.

In [5]:
train['repeater'].replace(to_replace='t', value=1, inplace=True)
train['repeater'].replace(to_replace='f', value=0, inplace=True)
train.head(5)

,id,chain,offer,market,repeater,offerdate,category,quantity,company,offervalue,brand,Average_Purchasequantity,Average_Purchaseamount,FACTOR
0,86246,205,1208251,34,1,2013-04-24,2202,1,104460040,2.00,3718,0.0,0.000,0
1,86252,205,1197502,34,1,2013-03-27,3203,1,106414464,0.75,13474,1.0,2.425,1
2,12682470,18,1197502,11,0,2013-03-28,3203,1,106414464,0.75,13474,1.0,2.500,1
3,12996040,15,1197502,9,0,2013-03-25,3203,1,106414464,0.75,13474,0.0,0.000,0
4,13089312,15,1204821,9,0,2013-04-01,5619,1,107717272,1.50,102504,0.0,0.000,0

## category

In [6]:
a1=np.setdiff1d(train['category'],test['category'])
print(a1)

[1703 3203 3509 4401 9909]

In [7]:
b1=np.setdiff1d(test['category'],train['category'])
print(b1)

[ 706  799 4517 5122 5824 7205 9115]

In [8]:
train['category'].replace(to_replace = a1,
                          value="unknown", inplace = True)
print(train)

                id  chain    offer  market  repeater   offerdate category  \
0            86246    205  1208251      34         1  2013-04-24     2202
1            86252    205  1197502      34         1  2013-03-27  unknown
2         12682470     18  1197502      11         0  2013-03-28  unknown
3         12996040     15  1197502       9         0  2013-03-25  unknown
4         13089312     15  1204821       9         0  2013-04-01     5619
5         13179265     14  1197502       8         0  2013-03-29  unknown
6         13251776     15  1200581       9         0  2013-03-30     1726
7         13540129     14  1200581       8         0  2013-03-30     1726
8         13807224      4  1204576       1         0  2013-04-05     5616
9         13873775      4  1197502       1         0  2013-03-26  unknown
10        13974451      4  1197502       1         0  2013-03-26  unknown
11        14088807      3  1200581       2         1  2013-04-17     1726
12        14381137      4  1197502       1         0  2013-04-04  unknown
13        14576147     18  1197502      11         0  2013-04-02  unknown
14        15530842     95  1197502      39         0  2013-04-19  unknown
15        15705695     15  1197502       9         0  2013-04-02  unknown
16        15738658     17  1197502       4         0  2013-04-22  unknown
17        15753725     17  1208251       4         0  2013-04-24     2202
18        15941277     14  1197502       8         1  2013-03-26  unknown
19        15994113      4  1197502       1         0  2013-03-26  unknown
20        16138642      4  1204576       1         0  2013-04-05     5616
21        16203579     15  1197502       9         1  2013-03-25  unknown
22        16238376     14  1197502       8         1  2013-04-05  unknown
23        16535563      4  1208251       1         1  2013-04-27     2202
24        16606739      3  1208252       2         0  2013-04-24     2202
25        16646740      4  1197502       1         0  2013-03-28  unknown
26        16691816      3  1200988       2         0  2013-03-18  unknown
27        16749437     20  1197502       7         1  2013-04-01  unknown
28        16797008     88  1197502      14         1  2013-04-17  unknown
29        17456470     14  1208252       8         0  2013-04-26     2202
...            ...    ...      ...     ...       ...         ...      ...
160027  4674595735    377  1203052       9         0  2013-04-16  unknown
160028  4675208298    166  1203052      14         1  2013-04-05  unknown
160029  4676022161    377  1203052       9         1  2013-04-01  unknown
160030  4679693652     21  1208501      10         0  2013-04-24     6202
160031  4679987362    166  1203052      14         0  2013-04-03  unknown
160032  4679987788    166  1208329      14         0  2013-04-27     2119
160033  4680015846    166  1203052      14         1  2013-04-03  unknown
160034  4680098564    214  1208251       8         0  2013-04-28     2202
160035  4682193636     24  1203052       9         0  2013-04-21  unknown
160036  4682213380    377  1203052       9         0  2013-04-17  unknown
160037  4683847866    166  1203052      14         1  2013-04-02  unknown
160038  4683851813    166  1203052      14         1  2013-04-06  unknown
160039  4684620738    285  1208501      33         1  2013-04-30     6202
160040  4684982530    166  1203052      14         0  2013-04-02  unknown
160041  4686399459    166  1203052      14         1  2013-04-03  unknown
160042  4689813824    404  1208251      96         1  2013-04-23     2202
160043  4690728498    166  1208329      14         0  2013-04-22     2119
160044  4690733184    166  1203052      14         1  2013-04-07  unknown
160045  4690792264    214  1208251       8         0  2013-04-26     2202
160046  4692523362     24  1203052       9         0  2013-04-14  unknown
160047  4693766134    214  1208329       8         0  2013-04-24     2119
160048  4697927060    166  1203052      14         0  2013-04-11  unknown
160049  4700462453    224  1208251      10         1  2013-04-25     2202
160050  4700826193    166  1203052      14         1  2013-04-16  unknown
160051  4703581033    233  1208329      33         1  2013-04-25     2119
160052  4712158291    214  1208329       8         0  2013-04-22     2119
160053  4715039820    166  1208329      14         0  2013-04-24     2119
160054  4797277036    152  1203052      10         1  2013-04-02  unknown
160055  4804019740    153  1204822      12         0  2013-04-17     5619
160056  4809911000    153  1204822      12         0  2013-04-05     5619

        quantity     company  offervalue   brand  Average_Purchasequantity  \
0              1   104460040        2.00    3718                    0.0000
1              1   106414464        0.75   13474                    1.0000
2              1   106414464        0.75   13474                    1.0000
3              1   106414464        0.75   13474                    0.0000
4              1   107717272        1.50  102504                    0.0000
5              1   106414464        0.75   13474                    0.0000
6              1   104460040        1.25    7668                    1.8000
7              1   104460040        1.25    7668                    1.3333
8              1   104610040        1.00   15889                    1.4375
9              1   106414464        0.75   13474                    0.0000
10             1   106414464        0.75   13474                    0.0000
11             1   104460040        1.25    7668                    1.2000
12             1   106414464        0.75   13474                    0.0000
13             1   106414464        0.75   13474                    0.0000
14             1   106414464        0.75   13474                    0.0000
15             1   106414464        0.75   13474                    0.0000
16             1   106414464        0.75   13474                    0.0000
17             1   104460040        2.00    3718                    0.0000
18             1   106414464        0.75   13474                    0.0000
19             1   106414464        0.75   13474                    0.0000
20             1   104610040        1.00   15889                    0.0000
21             1   106414464        0.75   13474                    1.0000
22             1   106414464        0.75   13474                    1.2000
23             1   104460040        2.00    3718                    0.0000
24             1   104460040        3.00    3718                    0.0000
25             1   106414464        0.75   13474                    0.0000
26             1   103320030        2.00     875                    1.1667
27             1   106414464        0.75   13474                    0.0000
28             1   106414464        0.75   13474                    1.0000
29             1   104460040        3.00    3718                    0.0000
...          ...         ...         ...     ...                       ...
160027         1  1089520383        1.00   28840                    0.0000
160028         1  1089520383        1.00   28840                    1.1600
160029         1  1089520383        1.00   28840                    0.0000
160030         1  1087744888        1.50   64486                    1.0000
160031         1  1089520383        1.00   28840                    1.8750
160032         1   108079383        1.00    6926                    2.4074
160033         1  1089520383        1.00   28840                    0.0000
160034         1   104460040        2.00    3718                    0.0000
160035         1  1089520383        1.00   28840                    0.0000
160036         1  1089520383        1.00   28840                    0.0000
160037         1  1089520383        1.00   28840                    1.5000
160038         1  1089520383        1.00   28840                    1.1765
160039         1  1087744888        1.50   64486                    0.0000
160040         1  1089520383        1.00   28840                    0.0000
160041         1  1089520383        1.00   28840                    0.0000
160042         1   104460040        2.00    3718                    0.0000
160043         1   108079383        1.00    6926                    1.0000
160044         1  1089520383        1.00   28840                    2.0000
160045         1   104460040        2.00    3718                    0.0000
160046         1  1089520383        1.00   28840                    0.0000
160047         1   108079383        1.00    6926                    0.0000
160048         1  1089520383        1.00   28840                    0.0000
160049         1   104460040        2.00    3718                    0.0000
160050         1  1089520383        1.00   28840                    1.8000
160051         1   108079383        1.00    6926                    1.0000
160052         1   108079383        1.00    6926                    0.0000
160053         1   108079383        1.00    6926                    1.7500
160054         1  1089520383        1.00   28840                    1.0000
160055         1   107717272        1.50  102504                    0.0000
160056         1   107717272        1.50  102504                    0.0000

        Average_Purchaseamount  FACTOR
0                     0.000000       0
1                     2.425000       1
2                     2.500000       1
3                     0.000000       0
4                     0.000000       0
5                     0.000000       0
6                     4.563000       1
7                     4.653333       1
8                     3.365000       1
9                     0.000000       0
10                    0.000000       0
11                    2.730000       1
12                    0.000000       0
13                    0.000000       0
14                    0.000000       0
15                    0.000000       0
16                    0.000000       0
17                    0.000000       0
18                    0.000000       0
19                    0.000000       0
20                    0.000000       0
21                    2.790000       1
22                    2.728000       1
23                    0.000000       0
24                    0.000000       0
25                    0.000000       0
26                   11.488330       1
27                    0.000000       0
28                    3.490000       1
29                    0.000000       0
...                        ...     ...
160027                0.000000       0
160028                4.030000       1
160029                0.000000       0
160030                5.740000       1
160031                4.627500       1
160032                3.704259       1
160033                0.000000       0
160034                0.000000       0
160035                0.000000       0
160036                0.000000       0
160037                4.385000       1
160038                3.461176       1
160039                0.000000       0
160040                0.000000       0
160041                0.000000       0
160042                0.000000       0
160043                1.000000       1
160044                5.000000       1
160045                0.000000       0
160046                0.000000       0
160047                0.000000       0
160048                0.000000       0
160049                0.000000       0
160050                4.471000       1
160051                4.990000       1
160052                0.000000       0
160053                3.435000       1
160054                3.942632       1
160055                0.000000       0
160056                0.000000       0

[160057 rows x 14 columns]

In [9]:
test['category'].replace(to_replace = b1,
                          value="unknown", inplace = True)
print(test)

                id  chain    offer  market   offerdate category  quantity  \
0         12262064     95  1219903      39  2013-06-27  unknown         1
1         12277270     95  1221658      39  2013-06-23  unknown         2
2         12332190     95  1213242      39  2013-06-15  unknown         1
3         12524696      4  1221665       1  2013-06-20  unknown         1
4         13074629     14  1221658       8  2013-06-21  unknown         2
5         13387341     14  1221658       8  2013-06-22  unknown         2
6         13501141      4  1203439       1  2013-05-13  unknown         1
7         13558712     15  1203439       9  2013-05-12  unknown         1
8         13563017     14  1221665       8  2013-06-24  unknown         1
9         13584134     14  1221665       8  2013-06-27  unknown         1
10        13744500      4  1221658       1  2013-06-26  unknown         2
11        14026320     14  1221663       8  2013-06-23  unknown         1
12        14049441      3  1221658       2  2013-06-21  unknown         2
13        14101174      4  1221663       1  2013-06-22  unknown         1
14        14278542      4  1221665       1  2013-06-21  unknown         1
15        14632152     18  1213242      11  2013-05-27  unknown         1
16        14723452     18  1221663      11  2013-06-29  unknown         1
17        14790034      4  1230218       1  2013-07-28  unknown         1
18        14989775     15  1221663       9  2013-06-26  unknown         1
19        15050385     15  1221658       9  2013-06-23  unknown         2
20        15073302     15  1190530       9  2013-05-09  unknown         1
21        15134033     15  1203439       9  2013-05-13  unknown         1
22        15163210     15  1221663       9  2013-06-21  unknown         1
23        15417308     95  1213242      39  2013-05-22  unknown         1
24        15575309     17  1219903       4  2013-07-05  unknown         1
25        15708395     17  1221663       4  2013-06-24  unknown         1
26        16075389     14  1221658       8  2013-06-20  unknown         2
27        16078766      4  1230218       1  2013-07-27  unknown         1
28        16130307      4  1190530       1  2013-05-08  unknown         1
29        16412251     95  1221663      39  2013-06-21  unknown         1
...            ...    ...      ...     ...         ...      ...       ...
151454  4810514056     46  1220503      15  2013-07-09  unknown         1
151455  4810518123     46  1220503      15  2013-07-20  unknown         1
151456  4810532366     46  1220503      15  2013-07-14  unknown         1
151457  4810540326     46  1230218      15  2013-07-28  unknown         1
151458  4812077500    284  1221658      11  2013-06-28  unknown         2
151459  4812098067    284  1221658      11  2013-06-24  unknown         2
151460  4812099183    284  1221658      11  2013-06-24  unknown         2
151461  4812107853    284  1221658      11  2013-06-22  unknown         2
151462  4812111201    284  1221663      11  2013-06-22  unknown         1
151463  4812151287    284  1221658      11  2013-06-28  unknown         2
151464  4812214780    284  1221663      11  2013-06-25  unknown         1
151465  4813248649     40  1230218      23  2013-07-24  unknown         1
151466  4813286185    153  1230218      12  2013-07-24  unknown         1
151467  4813288356    153  1221663      12  2013-06-23  unknown         1
151468  4813618098     46  1230218      15  2013-07-28  unknown         1
151469  4814339864    284  1221658      11  2013-06-28  unknown         2
151470  4816982715     46  1230218      15  2013-07-26  unknown         1
151471  4819822042     46  1220503      15  2013-07-06  unknown         1
151472  4821601264     46  1230218      15  2013-07-27  unknown         1
151473  4821651378     46  1230218      15  2013-07-24  unknown         1
151474  4821703398     46  1230218      15  2013-07-26  unknown         1
151475  4824696849     46  1230218      15  2013-07-24  unknown         1
151476  4829517835     46  1219903      15  2013-07-23  unknown         1
151477  4836226081     46  1230218      15  2013-07-29  unknown         1
151478  4837642552     46  1230218      15  2013-07-26  unknown         1
151479  4843417324     46  1230218      15  2013-07-24  unknown         1
151480  4847628950    166  1230218      14  2013-07-24  unknown         1
151481  4847787712     46  1230218      15  2013-07-26  unknown         1
151482  4853460972    214  1230218       8  2013-07-28  unknown         1
151483  4853598737     46  1230218      15  2013-07-27  unknown         1

           company  offervalue  brand  Average_Purchaseamount  \
0       1076211171         1.5  17286                0.000000
1        103700030         3.0   4294                3.882000
2        105190050         2.0  26456                6.980000
3        103700030         1.5   4294                4.242500
4        103700030         3.0   4294                5.618571
5        103700030         3.0   4294                4.490000
6        107106878         1.5  17311                6.740000
7        107106878         1.5  17311               10.323330
8        103700030         1.5   4294                5.306667
9        103700030         1.5   4294                2.840000
10       103700030         3.0   4294                2.645000
11       103700030         1.5   4294                6.090000
12       103700030         3.0   4294                3.055000
13       103700030         1.5   4294                3.515000
14       103700030         1.5   4294                3.765000
15       105190050         2.0  26456                3.245000
16       103700030         1.5   4294                4.523333
17       104127141         1.0  26189                3.790000
18       103700030         1.5   4294                8.520000
19       103700030         3.0   4294                3.260000
20       108500080         5.0  93904               20.790000
21       107106878         1.5  17311                7.490000
22       103700030         1.5   4294                4.290000
23       105190050         2.0  26456                4.740000
24      1076211171         1.5  17286                0.000000
25       103700030         1.5   4294                5.390000
26       103700030         3.0   4294                6.215000
27       104127141         1.0  26189                5.000000
28       108500080         5.0  93904               11.790000
29       103700030         1.5   4294                4.890000
...            ...         ...    ...                     ...
151454   105450050         1.5   1322                5.990000
151455   105450050         1.5   1322                0.000000
151456   105450050         1.5   1322                0.000000
151457   104127141         1.0  26189                0.000000
151458   103700030         3.0   4294                0.000000
151459   103700030         3.0   4294                0.000000
151460   103700030         3.0   4294                0.000000
151461   103700030         3.0   4294                0.000000
151462   103700030         1.5   4294                0.000000
151463   103700030         3.0   4294                2.000000
151464   103700030         1.5   4294                4.990000
151465   104127141         1.0  26189                4.490000
151466   104127141         1.0  26189                0.000000
151467   103700030         1.5   4294                4.590000
151468   104127141         1.0  26189                4.990000
151469   103700030         3.0   4294                0.000000
151470   104127141         1.0  26189                5.580000
151471   105450050         1.5   1322                0.000000
151472   104127141         1.0  26189                0.000000
151473   104127141         1.0  26189                0.000000
151474   104127141         1.0  26189                0.000000
151475   104127141         1.0  26189                0.000000
151476  1076211171         1.5  17286                0.000000
151477   104127141         1.0  26189                0.000000
151478   104127141         1.0  26189                0.000000
151479   104127141         1.0  26189                0.000000
151480   104127141         1.0  26189                2.000000
151481   104127141         1.0  26189                0.000000
151482   104127141         1.0  26189                0.000000
151483   104127141         1.0  26189                0.000000

        AVG_purchasequantity  Factor
0                     0.0000       0
1                     1.2000       1
2                     2.0000       1
3                     1.0000       1
4                     1.0000       1
5                     1.0000       1
6                     1.0000       1
7                     1.0000       1
8                     1.0000       1
9                     1.0000       1
10                    1.0000       1
11                    1.0000       1
12                    1.1667       1
13                    1.0000       1
14                    1.0000       1
15                    1.0000       1
16                    1.0000       1
17                    1.0000       1
18                    2.0000       1
19                    2.0000       1
20                    1.0000       1
21                    1.0000       1
22                    1.0000       1
23                    1.0000       1
24                    0.0000       0
25                    1.0000       1
26                    1.0000       1
27                    1.0000       1
28                    1.0000       1
29                    1.0000       1
...                      ...     ...
151454                1.0000       1
151455                0.0000       0
151456                0.0000       0
151457                0.0000       0
151458                0.0000       0
151459                0.0000       0
151460                0.0000       0
151461                0.0000       0
151462                0.0000       0
151463                2.0000       1
151464                1.0000       1
151465                1.0000       1
151466                0.0000       0
151467                1.0000       1
151468                1.0000       1
151469                0.0000       0
151470                2.0000       1
151471                0.0000       0
151472                0.0000       0
151473                0.0000       0
151474                0.0000       0
151475                0.0000       0
151476                0.0000       0
151477                0.0000       0
151478                0.0000       0
151479                0.0000       0
151480                1.0000       1
151481                0.0000       0
151482                0.0000       0
151483                0.0000       0

[151484 rows x 13 columns]

## brand

In [10]:
a2 = np.setdiff1d(train['brand'],test['brand'])
print(a2)

[  875  6732 13474 13791 28840]

In [12]:
b2 = np.setdiff1d(test['brand'],train['brand'])
print(b2)

[ 1322  4294 17286 17311 26189 26456 93904]

In [13]:
train['brand'].replace(to_replace = a2,value="unknown", inplace = True)
print(train)

                id  chain    offer  market  repeater   offerdate category  \
0            86246    205  1208251      34         1  2013-04-24     2202
1            86252    205  1197502      34         1  2013-03-27  unknown
2         12682470     18  1197502      11         0  2013-03-28  unknown
3         12996040     15  1197502       9         0  2013-03-25  unknown
4         13089312     15  1204821       9         0  2013-04-01     5619
5         13179265     14  1197502       8         0  2013-03-29  unknown
6         13251776     15  1200581       9         0  2013-03-30     1726
7         13540129     14  1200581       8         0  2013-03-30     1726
8         13807224      4  1204576       1         0  2013-04-05     5616
9         13873775      4  1197502       1         0  2013-03-26  unknown
10        13974451      4  1197502       1         0  2013-03-26  unknown
11        14088807      3  1200581       2         1  2013-04-17     1726
12        14381137      4  1197502       1         0  2013-04-04  unknown
13        14576147     18  1197502      11         0  2013-04-02  unknown
14        15530842     95  1197502      39         0  2013-04-19  unknown
15        15705695     15  1197502       9         0  2013-04-02  unknown
16        15738658     17  1197502       4         0  2013-04-22  unknown
17        15753725     17  1208251       4         0  2013-04-24     2202
18        15941277     14  1197502       8         1  2013-03-26  unknown
19        15994113      4  1197502       1         0  2013-03-26  unknown
20        16138642      4  1204576       1         0  2013-04-05     5616
21        16203579     15  1197502       9         1  2013-03-25  unknown
22        16238376     14  1197502       8         1  2013-04-05  unknown
23        16535563      4  1208251       1         1  2013-04-27     2202
24        16606739      3  1208252       2         0  2013-04-24     2202
25        16646740      4  1197502       1         0  2013-03-28  unknown
26        16691816      3  1200988       2         0  2013-03-18  unknown
27        16749437     20  1197502       7         1  2013-04-01  unknown
28        16797008     88  1197502      14         1  2013-04-17  unknown
29        17456470     14  1208252       8         0  2013-04-26     2202
...            ...    ...      ...     ...       ...         ...      ...
160027  4674595735    377  1203052       9         0  2013-04-16  unknown
160028  4675208298    166  1203052      14         1  2013-04-05  unknown
160029  4676022161    377  1203052       9         1  2013-04-01  unknown
160030  4679693652     21  1208501      10         0  2013-04-24     6202
160031  4679987362    166  1203052      14         0  2013-04-03  unknown
160032  4679987788    166  1208329      14         0  2013-04-27     2119
160033  4680015846    166  1203052      14         1  2013-04-03  unknown
160034  4680098564    214  1208251       8         0  2013-04-28     2202
160035  4682193636     24  1203052       9         0  2013-04-21  unknown
160036  4682213380    377  1203052       9         0  2013-04-17  unknown
160037  4683847866    166  1203052      14         1  2013-04-02  unknown
160038  4683851813    166  1203052      14         1  2013-04-06  unknown
160039  4684620738    285  1208501      33         1  2013-04-30     6202
160040  4684982530    166  1203052      14         0  2013-04-02  unknown
160041  4686399459    166  1203052      14         1  2013-04-03  unknown
160042  4689813824    404  1208251      96         1  2013-04-23     2202
160043  4690728498    166  1208329      14         0  2013-04-22     2119
160044  4690733184    166  1203052      14         1  2013-04-07  unknown
160045  4690792264    214  1208251       8         0  2013-04-26     2202
160046  4692523362     24  1203052       9         0  2013-04-14  unknown
160047  4693766134    214  1208329       8         0  2013-04-24     2119
160048  4697927060    166  1203052      14         0  2013-04-11  unknown
160049  4700462453    224  1208251      10         1  2013-04-25     2202
160050  4700826193    166  1203052      14         1  2013-04-16  unknown
160051  4703581033    233  1208329      33         1  2013-04-25     2119
160052  4712158291    214  1208329       8         0  2013-04-22     2119
160053  4715039820    166  1208329      14         0  2013-04-24     2119
160054  4797277036    152  1203052      10         1  2013-04-02  unknown
160055  4804019740    153  1204822      12         0  2013-04-17     5619
160056  4809911000    153  1204822      12         0  2013-04-05     5619

        quantity     company  offervalue    brand  Average_Purchasequantity  \
0              1   104460040        2.00     3718                    0.0000
1              1   106414464        0.75  unknown                    1.0000
2              1   106414464        0.75  unknown                    1.0000
3              1   106414464        0.75  unknown                    0.0000
4              1   107717272        1.50   102504                    0.0000
5              1   106414464        0.75  unknown                    0.0000
6              1   104460040        1.25     7668                    1.8000
7              1   104460040        1.25     7668                    1.3333
8              1   104610040        1.00    15889                    1.4375
9              1   106414464        0.75  unknown                    0.0000
10             1   106414464        0.75  unknown                    0.0000
11             1   104460040        1.25     7668                    1.2000
12             1   106414464        0.75  unknown                    0.0000
13             1   106414464        0.75  unknown                    0.0000
14             1   106414464        0.75  unknown                    0.0000
15             1   106414464        0.75  unknown                    0.0000
16             1   106414464        0.75  unknown                    0.0000
17             1   104460040        2.00     3718                    0.0000
18             1   106414464        0.75  unknown                    0.0000
19             1   106414464        0.75  unknown                    0.0000
20             1   104610040        1.00    15889                    0.0000
21             1   106414464        0.75  unknown                    1.0000
22             1   106414464        0.75  unknown                    1.2000
23             1   104460040        2.00     3718                    0.0000
24             1   104460040        3.00     3718                    0.0000
25             1   106414464        0.75  unknown                    0.0000
26             1   103320030        2.00  unknown                    1.1667
27             1   106414464        0.75  unknown                    0.0000
28             1   106414464        0.75  unknown                    1.0000
29             1   104460040        3.00     3718                    0.0000
...          ...         ...         ...      ...                       ...
160027         1  1089520383        1.00  unknown                    0.0000
160028         1  1089520383        1.00  unknown                    1.1600
160029         1  1089520383        1.00  unknown                    0.0000
160030         1  1087744888        1.50    64486                    1.0000
160031         1  1089520383        1.00  unknown                    1.8750
160032         1   108079383        1.00     6926                    2.4074
160033         1  1089520383        1.00  unknown                    0.0000
160034         1   104460040        2.00     3718                    0.0000
160035         1  1089520383        1.00  unknown                    0.0000
160036         1  1089520383        1.00  unknown                    0.0000
160037         1  1089520383        1.00  unknown                    1.5000
160038         1  1089520383        1.00  unknown                    1.1765
160039         1  1087744888        1.50    64486                    0.0000
160040         1  1089520383        1.00  unknown                    0.0000
160041         1  1089520383        1.00  unknown                    0.0000
160042         1   104460040        2.00     3718                    0.0000
160043         1   108079383        1.00     6926                    1.0000
160044         1  1089520383        1.00  unknown                    2.0000
160045         1   104460040        2.00     3718                    0.0000
160046         1  1089520383        1.00  unknown                    0.0000
160047         1   108079383        1.00     6926                    0.0000
160048         1  1089520383        1.00  unknown                    0.0000
160049         1   104460040        2.00     3718                    0.0000
160050         1  1089520383        1.00  unknown                    1.8000
160051         1   108079383        1.00     6926                    1.0000
160052         1   108079383        1.00     6926                    0.0000
160053         1   108079383        1.00     6926                    1.7500
160054         1  1089520383        1.00  unknown                    1.0000
160055         1   107717272        1.50   102504                    0.0000
160056         1   107717272        1.50   102504                    0.0000

        Average_Purchaseamount  FACTOR
0                     0.000000       0
1                     2.425000       1
2                     2.500000       1
3                     0.000000       0
4                     0.000000       0
5                     0.000000       0
6                     4.563000       1
7                     4.653333       1
8                     3.365000       1
9                     0.000000       0
10                    0.000000       0
11                    2.730000       1
12                    0.000000       0
13                    0.000000       0
14                    0.000000       0
15                    0.000000       0
16                    0.000000       0
17                    0.000000       0
18                    0.000000       0
19                    0.000000       0
20                    0.000000       0
21                    2.790000       1
22                    2.728000       1
23                    0.000000       0
24                    0.000000       0
25                    0.000000       0
26                   11.488330       1
27                    0.000000       0
28                    3.490000       1
29                    0.000000       0
...                        ...     ...
160027                0.000000       0
160028                4.030000       1
160029                0.000000       0
160030                5.740000       1
160031                4.627500       1
160032                3.704259       1
160033                0.000000       0
160034                0.000000       0
160035                0.000000       0
160036                0.000000       0
160037                4.385000       1
160038                3.461176       1
160039                0.000000       0
160040                0.000000       0
160041                0.000000       0
160042                0.000000       0
160043                1.000000       1
160044                5.000000       1
160045                0.000000       0
160046                0.000000       0
160047                0.000000       0
160048                0.000000       0
160049                0.000000       0
160050                4.471000       1
160051                4.990000       1
160052                0.000000       0
160053                3.435000       1
160054                3.942632       1
160055                0.000000       0
160056                0.000000       0

[160057 rows x 14 columns]

In [14]:
test['brand'].replace(to_replace = b2,value="unknown", inplace = True)
print(test)

                id  chain    offer  market   offerdate category  quantity  \
0         12262064     95  1219903      39  2013-06-27  unknown         1
1         12277270     95  1221658      39  2013-06-23  unknown         2
2         12332190     95  1213242      39  2013-06-15  unknown         1
3         12524696      4  1221665       1  2013-06-20  unknown         1
4         13074629     14  1221658       8  2013-06-21  unknown         2
5         13387341     14  1221658       8  2013-06-22  unknown         2
6         13501141      4  1203439       1  2013-05-13  unknown         1
7         13558712     15  1203439       9  2013-05-12  unknown         1
8         13563017     14  1221665       8  2013-06-24  unknown         1
9         13584134     14  1221665       8  2013-06-27  unknown         1
10        13744500      4  1221658       1  2013-06-26  unknown         2
11        14026320     14  1221663       8  2013-06-23  unknown         1
12        14049441      3  1221658       2  2013-06-21  unknown         2
13        14101174      4  1221663       1  2013-06-22  unknown         1
14        14278542      4  1221665       1  2013-06-21  unknown         1
15        14632152     18  1213242      11  2013-05-27  unknown         1
16        14723452     18  1221663      11  2013-06-29  unknown         1
17        14790034      4  1230218       1  2013-07-28  unknown         1
18        14989775     15  1221663       9  2013-06-26  unknown         1
19        15050385     15  1221658       9  2013-06-23  unknown         2
20        15073302     15  1190530       9  2013-05-09  unknown         1
21        15134033     15  1203439       9  2013-05-13  unknown         1
22        15163210     15  1221663       9  2013-06-21  unknown         1
23        15417308     95  1213242      39  2013-05-22  unknown         1
24        15575309     17  1219903       4  2013-07-05  unknown         1
25        15708395     17  1221663       4  2013-06-24  unknown         1
26        16075389     14  1221658       8  2013-06-20  unknown         2
27        16078766      4  1230218       1  2013-07-27  unknown         1
28        16130307      4  1190530       1  2013-05-08  unknown         1
29        16412251     95  1221663      39  2013-06-21  unknown         1
...            ...    ...      ...     ...         ...      ...       ...
151454  4810514056     46  1220503      15  2013-07-09  unknown         1
151455  4810518123     46  1220503      15  2013-07-20  unknown         1
151456  4810532366     46  1220503      15  2013-07-14  unknown         1
151457  4810540326     46  1230218      15  2013-07-28  unknown         1
151458  4812077500    284  1221658      11  2013-06-28  unknown         2
151459  4812098067    284  1221658      11  2013-06-24  unknown         2
151460  4812099183    284  1221658      11  2013-06-24  unknown         2
151461  4812107853    284  1221658      11  2013-06-22  unknown         2
151462  4812111201    284  1221663      11  2013-06-22  unknown         1
151463  4812151287    284  1221658      11  2013-06-28  unknown         2
151464  4812214780    284  1221663      11  2013-06-25  unknown         1
151465  4813248649     40  1230218      23  2013-07-24  unknown         1
151466  4813286185    153  1230218      12  2013-07-24  unknown         1
151467  4813288356    153  1221663      12  2013-06-23  unknown         1
151468  4813618098     46  1230218      15  2013-07-28  unknown         1
151469  4814339864    284  1221658      11  2013-06-28  unknown         2
151470  4816982715     46  1230218      15  2013-07-26  unknown         1
151471  4819822042     46  1220503      15  2013-07-06  unknown         1
151472  4821601264     46  1230218      15  2013-07-27  unknown         1
151473  4821651378     46  1230218      15  2013-07-24  unknown         1
151474  4821703398     46  1230218      15  2013-07-26  unknown         1
151475  4824696849     46  1230218      15  2013-07-24  unknown         1
151476  4829517835     46  1219903      15  2013-07-23  unknown         1
151477  4836226081     46  1230218      15  2013-07-29  unknown         1
151478  4837642552     46  1230218      15  2013-07-26  unknown         1
151479  4843417324     46  1230218      15  2013-07-24  unknown         1
151480  4847628950    166  1230218      14  2013-07-24  unknown         1
151481  4847787712     46  1230218      15  2013-07-26  unknown         1
151482  4853460972    214  1230218       8  2013-07-28  unknown         1
151483  4853598737     46  1230218      15  2013-07-27  unknown         1

           company  offervalue    brand  Average_Purchaseamount  \
0       1076211171         1.5  unknown                0.000000
1        103700030         3.0  unknown                3.882000
2        105190050         2.0  unknown                6.980000
3        103700030         1.5  unknown                4.242500
4        103700030         3.0  unknown                5.618571
5        103700030         3.0  unknown                4.490000
6        107106878         1.5  unknown                6.740000
7        107106878         1.5  unknown               10.323330
8        103700030         1.5  unknown                5.306667
9        103700030         1.5  unknown                2.840000
10       103700030         3.0  unknown                2.645000
11       103700030         1.5  unknown                6.090000
12       103700030         3.0  unknown                3.055000
13       103700030         1.5  unknown                3.515000
14       103700030         1.5  unknown                3.765000
15       105190050         2.0  unknown                3.245000
16       103700030         1.5  unknown                4.523333
17       104127141         1.0  unknown                3.790000
18       103700030         1.5  unknown                8.520000
19       103700030         3.0  unknown                3.260000
20       108500080         5.0  unknown               20.790000
21       107106878         1.5  unknown                7.490000
22       103700030         1.5  unknown                4.290000
23       105190050         2.0  unknown                4.740000
24      1076211171         1.5  unknown                0.000000
25       103700030         1.5  unknown                5.390000
26       103700030         3.0  unknown                6.215000
27       104127141         1.0  unknown                5.000000
28       108500080         5.0  unknown               11.790000
29       103700030         1.5  unknown                4.890000
...            ...         ...      ...                     ...
151454   105450050         1.5  unknown                5.990000
151455   105450050         1.5  unknown                0.000000
151456   105450050         1.5  unknown                0.000000
151457   104127141         1.0  unknown                0.000000
151458   103700030         3.0  unknown                0.000000
151459   103700030         3.0  unknown                0.000000
151460   103700030         3.0  unknown                0.000000
151461   103700030         3.0  unknown                0.000000
151462   103700030         1.5  unknown                0.000000
151463   103700030         3.0  unknown                2.000000
151464   103700030         1.5  unknown                4.990000
151465   104127141         1.0  unknown                4.490000
151466   104127141         1.0  unknown                0.000000
151467   103700030         1.5  unknown                4.590000
151468   104127141         1.0  unknown                4.990000
151469   103700030         3.0  unknown                0.000000
151470   104127141         1.0  unknown                5.580000
151471   105450050         1.5  unknown                0.000000
151472   104127141         1.0  unknown                0.000000
151473   104127141         1.0  unknown                0.000000
151474   104127141         1.0  unknown                0.000000
151475   104127141         1.0  unknown                0.000000
151476  1076211171         1.5  unknown                0.000000
151477   104127141         1.0  unknown                0.000000
151478   104127141         1.0  unknown                0.000000
151479   104127141         1.0  unknown                0.000000
151480   104127141         1.0  unknown                2.000000
151481   104127141         1.0  unknown                0.000000
151482   104127141         1.0  unknown                0.000000
151483   104127141         1.0  unknown                0.000000

        AVG_purchasequantity  Factor
0                     0.0000       0
1                     1.2000       1
2                     2.0000       1
3                     1.0000       1
4                     1.0000       1
5                     1.0000       1
6                     1.0000       1
7                     1.0000       1
8                     1.0000       1
9                     1.0000       1
10                    1.0000       1
11                    1.0000       1
12                    1.1667       1
13                    1.0000       1
14                    1.0000       1
15                    1.0000       1
16                    1.0000       1
17                    1.0000       1
18                    2.0000       1
19                    2.0000       1
20                    1.0000       1
21                    1.0000       1
22                    1.0000       1
23                    1.0000       1
24                    0.0000       0
25                    1.0000       1
26                    1.0000       1
27                    1.0000       1
28                    1.0000       1
29                    1.0000       1
...                      ...     ...
151454                1.0000       1
151455                0.0000       0
151456                0.0000       0
151457                0.0000       0
151458                0.0000       0
151459                0.0000       0
151460                0.0000       0
151461                0.0000       0
151462                0.0000       0
151463                2.0000       1
151464                1.0000       1
151465                1.0000       1
151466                0.0000       0
151467                1.0000       1
151468                1.0000       1
151469                0.0000       0
151470                2.0000       1
151471                0.0000       0
151472                0.0000       0
151473                0.0000       0
151474                0.0000       0
151475                0.0000       0
151476                0.0000       0
151477                0.0000       0
151478                0.0000       0
151479                0.0000       0
151480                1.0000       1
151481                0.0000       0
151482                0.0000       0
151483                0.0000       0

[151484 rows x 13 columns]

## brand

In [15]:
a3 = np.setdiff1d(train['offer'],test['offer'])
print(a3)

[1194044 1197502 1199256 1199258 1200578 1200579 1200988 1203052]

In [16]:
b3 = np.setdiff1d(test['offer'],train['offer'])
print(b3)

[1190530 1203439 1213242 1219900 1219903 1220502 1220503 1221658 1221663
 1221665 1221666 1221667 1230218]

In [17]:
train['offer'].replace(to_replace = a3,value="unknown", inplace = True)
print(train)

                id  chain    offer  market  repeater   offerdate category  \
0            86246    205  1208251      34         1  2013-04-24     2202
1            86252    205  unknown      34         1  2013-03-27  unknown
2         12682470     18  unknown      11         0  2013-03-28  unknown
3         12996040     15  unknown       9         0  2013-03-25  unknown
4         13089312     15  1204821       9         0  2013-04-01     5619
5         13179265     14  unknown       8         0  2013-03-29  unknown
6         13251776     15  1200581       9         0  2013-03-30     1726
7         13540129     14  1200581       8         0  2013-03-30     1726
8         13807224      4  1204576       1         0  2013-04-05     5616
9         13873775      4  unknown       1         0  2013-03-26  unknown
10        13974451      4  unknown       1         0  2013-03-26  unknown
11        14088807      3  1200581       2         1  2013-04-17     1726
12        14381137      4  unknown       1         0  2013-04-04  unknown
13        14576147     18  unknown      11         0  2013-04-02  unknown
14        15530842     95  unknown      39         0  2013-04-19  unknown
15        15705695     15  unknown       9         0  2013-04-02  unknown
16        15738658     17  unknown       4         0  2013-04-22  unknown
17        15753725     17  1208251       4         0  2013-04-24     2202
18        15941277     14  unknown       8         1  2013-03-26  unknown
19        15994113      4  unknown       1         0  2013-03-26  unknown
20        16138642      4  1204576       1         0  2013-04-05     5616
21        16203579     15  unknown       9         1  2013-03-25  unknown
22        16238376     14  unknown       8         1  2013-04-05  unknown
23        16535563      4  1208251       1         1  2013-04-27     2202
24        16606739      3  1208252       2         0  2013-04-24     2202
25        16646740      4  unknown       1         0  2013-03-28  unknown
26        16691816      3  unknown       2         0  2013-03-18  unknown
27        16749437     20  unknown       7         1  2013-04-01  unknown
28        16797008     88  unknown      14         1  2013-04-17  unknown
29        17456470     14  1208252       8         0  2013-04-26     2202
...            ...    ...      ...     ...       ...         ...      ...
160027  4674595735    377  unknown       9         0  2013-04-16  unknown
160028  4675208298    166  unknown      14         1  2013-04-05  unknown
160029  4676022161    377  unknown       9         1  2013-04-01  unknown
160030  4679693652     21  1208501      10         0  2013-04-24     6202
160031  4679987362    166  unknown      14         0  2013-04-03  unknown
160032  4679987788    166  1208329      14         0  2013-04-27     2119
160033  4680015846    166  unknown      14         1  2013-04-03  unknown
160034  4680098564    214  1208251       8         0  2013-04-28     2202
160035  4682193636     24  unknown       9         0  2013-04-21  unknown
160036  4682213380    377  unknown       9         0  2013-04-17  unknown
160037  4683847866    166  unknown      14         1  2013-04-02  unknown
160038  4683851813    166  unknown      14         1  2013-04-06  unknown
160039  4684620738    285  1208501      33         1  2013-04-30     6202
160040  4684982530    166  unknown      14         0  2013-04-02  unknown
160041  4686399459    166  unknown      14         1  2013-04-03  unknown
160042  4689813824    404  1208251      96         1  2013-04-23     2202
160043  4690728498    166  1208329      14         0  2013-04-22     2119
160044  4690733184    166  unknown      14         1  2013-04-07  unknown
160045  4690792264    214  1208251       8         0  2013-04-26     2202
160046  4692523362     24  unknown       9         0  2013-04-14  unknown
160047  4693766134    214  1208329       8         0  2013-04-24     2119
160048  4697927060    166  unknown      14         0  2013-04-11  unknown
160049  4700462453    224  1208251      10         1  2013-04-25     2202
160050  4700826193    166  unknown      14         1  2013-04-16  unknown
160051  4703581033    233  1208329      33         1  2013-04-25     2119
160052  4712158291    214  1208329       8         0  2013-04-22     2119
160053  4715039820    166  1208329      14         0  2013-04-24     2119
160054  4797277036    152  unknown      10         1  2013-04-02  unknown
160055  4804019740    153  1204822      12         0  2013-04-17     5619
160056  4809911000    153  1204822      12         0  2013-04-05     5619

        quantity     company  offervalue    brand  Average_Purchasequantity  \
0              1   104460040        2.00     3718                    0.0000
1              1   106414464        0.75  unknown                    1.0000
2              1   106414464        0.75  unknown                    1.0000
3              1   106414464        0.75  unknown                    0.0000
4              1   107717272        1.50   102504                    0.0000
5              1   106414464        0.75  unknown                    0.0000
6              1   104460040        1.25     7668                    1.8000
7              1   104460040        1.25     7668                    1.3333
8              1   104610040        1.00    15889                    1.4375
9              1   106414464        0.75  unknown                    0.0000
10             1   106414464        0.75  unknown                    0.0000
11             1   104460040        1.25     7668                    1.2000
12             1   106414464        0.75  unknown                    0.0000
13             1   106414464        0.75  unknown                    0.0000
14             1   106414464        0.75  unknown                    0.0000
15             1   106414464        0.75  unknown                    0.0000
16             1   106414464        0.75  unknown                    0.0000
17             1   104460040        2.00     3718                    0.0000
18             1   106414464        0.75  unknown                    0.0000
19             1   106414464        0.75  unknown                    0.0000
20             1   104610040        1.00    15889                    0.0000
21             1   106414464        0.75  unknown                    1.0000
22             1   106414464        0.75  unknown                    1.2000
23             1   104460040        2.00     3718                    0.0000
24             1   104460040        3.00     3718                    0.0000
25             1   106414464        0.75  unknown                    0.0000
26             1   103320030        2.00  unknown                    1.1667
27             1   106414464        0.75  unknown                    0.0000
28             1   106414464        0.75  unknown                    1.0000
29             1   104460040        3.00     3718                    0.0000
...          ...         ...         ...      ...                       ...
160027         1  1089520383        1.00  unknown                    0.0000
160028         1  1089520383        1.00  unknown                    1.1600
160029         1  1089520383        1.00  unknown                    0.0000
160030         1  1087744888        1.50    64486                    1.0000
160031         1  1089520383        1.00  unknown                    1.8750
160032         1   108079383        1.00     6926                    2.4074
160033         1  1089520383        1.00  unknown                    0.0000
160034         1   104460040        2.00     3718                    0.0000
160035         1  1089520383        1.00  unknown                    0.0000
160036         1  1089520383        1.00  unknown                    0.0000
160037         1  1089520383        1.00  unknown                    1.5000
160038         1  1089520383        1.00  unknown                    1.1765
160039         1  1087744888        1.50    64486                    0.0000
160040         1  1089520383        1.00  unknown                    0.0000
160041         1  1089520383        1.00  unknown                    0.0000
160042         1   104460040        2.00     3718                    0.0000
160043         1   108079383        1.00     6926                    1.0000
160044         1  1089520383        1.00  unknown                    2.0000
160045         1   104460040        2.00     3718                    0.0000
160046         1  1089520383        1.00  unknown                    0.0000
160047         1   108079383        1.00     6926                    0.0000
160048         1  1089520383        1.00  unknown                    0.0000
160049         1   104460040        2.00     3718                    0.0000
160050         1  1089520383        1.00  unknown                    1.8000
160051         1   108079383        1.00     6926                    1.0000
160052         1   108079383        1.00     6926                    0.0000
160053         1   108079383        1.00     6926                    1.7500
160054         1  1089520383        1.00  unknown                    1.0000
160055         1   107717272        1.50   102504                    0.0000
160056         1   107717272        1.50   102504                    0.0000

        Average_Purchaseamount  FACTOR
0                     0.000000       0
1                     2.425000       1
2                     2.500000       1
3                     0.000000       0
4                     0.000000       0
5                     0.000000       0
6                     4.563000       1
7                     4.653333       1
8                     3.365000       1
9                     0.000000       0
10                    0.000000       0
11                    2.730000       1
12                    0.000000       0
13                    0.000000       0
14                    0.000000       0
15                    0.000000       0
16                    0.000000       0
17                    0.000000       0
18                    0.000000       0
19                    0.000000       0
20                    0.000000       0
21                    2.790000       1
22                    2.728000       1
23                    0.000000       0
24                    0.000000       0
25                    0.000000       0
26                   11.488330       1
27                    0.000000       0
28                    3.490000       1
29                    0.000000       0
...                        ...     ...
160027                0.000000       0
160028                4.030000       1
160029                0.000000       0
160030                5.740000       1
160031                4.627500       1
160032                3.704259       1
160033                0.000000       0
160034                0.000000       0
160035                0.000000       0
160036                0.000000       0
160037                4.385000       1
160038                3.461176       1
160039                0.000000       0
160040                0.000000       0
160041                0.000000       0
160042                0.000000       0
160043                1.000000       1
160044                5.000000       1
160045                0.000000       0
160046                0.000000       0
160047                0.000000       0
160048                0.000000       0
160049                0.000000       0
160050                4.471000       1
160051                4.990000       1
160052                0.000000       0
160053                3.435000       1
160054                3.942632       1
160055                0.000000       0
160056                0.000000       0

[160057 rows x 14 columns]

In [18]:
test['offer'].replace(to_replace = b3,value="unknown", inplace = True)
print(test)

                id  chain    offer  market   offerdate category  quantity  \
0         12262064     95  unknown      39  2013-06-27  unknown         1
1         12277270     95  unknown      39  2013-06-23  unknown         2
2         12332190     95  unknown      39  2013-06-15  unknown         1
3         12524696      4  unknown       1  2013-06-20  unknown         1
4         13074629     14  unknown       8  2013-06-21  unknown         2
5         13387341     14  unknown       8  2013-06-22  unknown         2
6         13501141      4  unknown       1  2013-05-13  unknown         1
7         13558712     15  unknown       9  2013-05-12  unknown         1
8         13563017     14  unknown       8  2013-06-24  unknown         1
9         13584134     14  unknown       8  2013-06-27  unknown         1
10        13744500      4  unknown       1  2013-06-26  unknown         2
11        14026320     14  unknown       8  2013-06-23  unknown         1
12        14049441      3  unknown       2  2013-06-21  unknown         2
13        14101174      4  unknown       1  2013-06-22  unknown         1
14        14278542      4  unknown       1  2013-06-21  unknown         1
15        14632152     18  unknown      11  2013-05-27  unknown         1
16        14723452     18  unknown      11  2013-06-29  unknown         1
17        14790034      4  unknown       1  2013-07-28  unknown         1
18        14989775     15  unknown       9  2013-06-26  unknown         1
19        15050385     15  unknown       9  2013-06-23  unknown         2
20        15073302     15  unknown       9  2013-05-09  unknown         1
21        15134033     15  unknown       9  2013-05-13  unknown         1
22        15163210     15  unknown       9  2013-06-21  unknown         1
23        15417308     95  unknown      39  2013-05-22  unknown         1
24        15575309     17  unknown       4  2013-07-05  unknown         1
25        15708395     17  unknown       4  2013-06-24  unknown         1
26        16075389     14  unknown       8  2013-06-20  unknown         2
27        16078766      4  unknown       1  2013-07-27  unknown         1
28        16130307      4  unknown       1  2013-05-08  unknown         1
29        16412251     95  unknown      39  2013-06-21  unknown         1
...            ...    ...      ...     ...         ...      ...       ...
151454  4810514056     46  unknown      15  2013-07-09  unknown         1
151455  4810518123     46  unknown      15  2013-07-20  unknown         1
151456  4810532366     46  unknown      15  2013-07-14  unknown         1
151457  4810540326     46  unknown      15  2013-07-28  unknown         1
151458  4812077500    284  unknown      11  2013-06-28  unknown         2
151459  4812098067    284  unknown      11  2013-06-24  unknown         2
151460  4812099183    284  unknown      11  2013-06-24  unknown         2
151461  4812107853    284  unknown      11  2013-06-22  unknown         2
151462  4812111201    284  unknown      11  2013-06-22  unknown         1
151463  4812151287    284  unknown      11  2013-06-28  unknown         2
151464  4812214780    284  unknown      11  2013-06-25  unknown         1
151465  4813248649     40  unknown      23  2013-07-24  unknown         1
151466  4813286185    153  unknown      12  2013-07-24  unknown         1
151467  4813288356    153  unknown      12  2013-06-23  unknown         1
151468  4813618098     46  unknown      15  2013-07-28  unknown         1
151469  4814339864    284  unknown      11  2013-06-28  unknown         2
151470  4816982715     46  unknown      15  2013-07-26  unknown         1
151471  4819822042     46  unknown      15  2013-07-06  unknown         1
151472  4821601264     46  unknown      15  2013-07-27  unknown         1
151473  4821651378     46  unknown      15  2013-07-24  unknown         1
151474  4821703398     46  unknown      15  2013-07-26  unknown         1
151475  4824696849     46  unknown      15  2013-07-24  unknown         1
151476  4829517835     46  unknown      15  2013-07-23  unknown         1
151477  4836226081     46  unknown      15  2013-07-29  unknown         1
151478  4837642552     46  unknown      15  2013-07-26  unknown         1
151479  4843417324     46  unknown      15  2013-07-24  unknown         1
151480  4847628950    166  unknown      14  2013-07-24  unknown         1
151481  4847787712     46  unknown      15  2013-07-26  unknown         1
151482  4853460972    214  unknown       8  2013-07-28  unknown         1
151483  4853598737     46  unknown      15  2013-07-27  unknown         1

           company  offervalue    brand  Average_Purchaseamount  \
0       1076211171         1.5  unknown                0.000000
1        103700030         3.0  unknown                3.882000
2        105190050         2.0  unknown                6.980000
3        103700030         1.5  unknown                4.242500
4        103700030         3.0  unknown                5.618571
5        103700030         3.0  unknown                4.490000
6        107106878         1.5  unknown                6.740000
7        107106878         1.5  unknown               10.323330
8        103700030         1.5  unknown                5.306667
9        103700030         1.5  unknown                2.840000
10       103700030         3.0  unknown                2.645000
11       103700030         1.5  unknown                6.090000
12       103700030         3.0  unknown                3.055000
13       103700030         1.5  unknown                3.515000
14       103700030         1.5  unknown                3.765000
15       105190050         2.0  unknown                3.245000
16       103700030         1.5  unknown                4.523333
17       104127141         1.0  unknown                3.790000
18       103700030         1.5  unknown                8.520000
19       103700030         3.0  unknown                3.260000
20       108500080         5.0  unknown               20.790000
21       107106878         1.5  unknown                7.490000
22       103700030         1.5  unknown                4.290000
23       105190050         2.0  unknown                4.740000
24      1076211171         1.5  unknown                0.000000
25       103700030         1.5  unknown                5.390000
26       103700030         3.0  unknown                6.215000
27       104127141         1.0  unknown                5.000000
28       108500080         5.0  unknown               11.790000
29       103700030         1.5  unknown                4.890000
...            ...         ...      ...                     ...
151454   105450050         1.5  unknown                5.990000
151455   105450050         1.5  unknown                0.000000
151456   105450050         1.5  unknown                0.000000
151457   104127141         1.0  unknown                0.000000
151458   103700030         3.0  unknown                0.000000
151459   103700030         3.0  unknown                0.000000
151460   103700030         3.0  unknown                0.000000
151461   103700030         3.0  unknown                0.000000
151462   103700030         1.5  unknown                0.000000
151463   103700030         3.0  unknown                2.000000
151464   103700030         1.5  unknown                4.990000
151465   104127141         1.0  unknown                4.490000
151466   104127141         1.0  unknown                0.000000
151467   103700030         1.5  unknown                4.590000
151468   104127141         1.0  unknown                4.990000
151469   103700030         3.0  unknown                0.000000
151470   104127141         1.0  unknown                5.580000
151471   105450050         1.5  unknown                0.000000
151472   104127141         1.0  unknown                0.000000
151473   104127141         1.0  unknown                0.000000
151474   104127141         1.0  unknown                0.000000
151475   104127141         1.0  unknown                0.000000
151476  1076211171         1.5  unknown                0.000000
151477   104127141         1.0  unknown                0.000000
151478   104127141         1.0  unknown                0.000000
151479   104127141         1.0  unknown                0.000000
151480   104127141         1.0  unknown                2.000000
151481   104127141         1.0  unknown                0.000000
151482   104127141         1.0  unknown                0.000000
151483   104127141         1.0  unknown                0.000000

        AVG_purchasequantity  Factor
0                     0.0000       0
1                     1.2000       1
2                     2.0000       1
3                     1.0000       1
4                     1.0000       1
5                     1.0000       1
6                     1.0000       1
7                     1.0000       1
8                     1.0000       1
9                     1.0000       1
10                    1.0000       1
11                    1.0000       1
12                    1.1667       1
13                    1.0000       1
14                    1.0000       1
15                    1.0000       1
16                    1.0000       1
17                    1.0000       1
18                    2.0000       1
19                    2.0000       1
20                    1.0000       1
21                    1.0000       1
22                    1.0000       1
23                    1.0000       1
24                    0.0000       0
25                    1.0000       1
26                    1.0000       1
27                    1.0000       1
28                    1.0000       1
29                    1.0000       1
...                      ...     ...
151454                1.0000       1
151455                0.0000       0
151456                0.0000       0
151457                0.0000       0
151458                0.0000       0
151459                0.0000       0
151460                0.0000       0
151461                0.0000       0
151462                0.0000       0
151463                2.0000       1
151464                1.0000       1
151465                1.0000       1
151466                0.0000       0
151467                1.0000       1
151468                1.0000       1
151469                0.0000       0
151470                2.0000       1
151471                0.0000       0
151472                0.0000       0
151473                0.0000       0
151474                0.0000       0
151475                0.0000       0
151476                0.0000       0
151477                0.0000       0
151478                0.0000       0
151479                0.0000       0
151480                1.0000       1
151481                0.0000       0
151482                0.0000       0
151483                0.0000       0

[151484 rows x 13 columns]

# Part2

In [3]:
train = h2o.import_file('train.csv')
test = h2o.import_file('test.csv')